en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
joblib==1.5.3
joblib==1.5.2
numpy==2.5.1
pandas==3.0.3
regex==2026.5.9
regex==2025.11.3
regex==2025.9.1
scikit_learn==1.9.0
streamlit==1.58.0
streamlit==1.52.2
streamlit==1.51.0